	<div class="block">
    <h1>[`Settings`]</h1>
    <form id="wacab_settings_form" action="javascript:void(0);" method="post" onsubmit="$.wa.wacab.saveSettings(this)">
        <div class="block fields">
        <div class="block fields">
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Login`]</div>
                    <div class="value">
                    	<input name="settings[login]" type="text" value="{if isset($settings.login)}{$settings.login}{/if}"/>
                <span class="hint">
                    [`Login to WA customer center`]
                </span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Password`]</div>
                    <div class="value">
                    	<input name="settings[passw]" type="password" value="{if isset($settings.passw)}{$settings.passw}{/if}"/>
                <span class="hint">
                    [`Password	 to WA customer center`]
                </span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Account`]</div>
                    <div class="value">
                    	<input name="settings[account]" type="text" value="{if isset($settings.account)}{$settings.account}{/if}"/>
                <span class="hint">
                    [`Pay account`]
                </span>
                    </div>
                </div>
                <hr />                
                <div class="field">
                    <div class="name">[`Counter`]</div>
                    <div class="value">
                    	<select name="settings[count]">
                    		<option value='1' {if isset($settings.count) && $settings.count == 1}selected="selected"{/if}>[`On`]</option>
                    		<option value='0' {if isset($settings.count) && $settings.count == 0}selected="selected"{/if}>[`Off`]</option>
                    	</select>
                    		&nbsp;&nbsp;&nbsp;&nbsp;
                    	<select name="settings[timeout]">
                    		 <option value="10" {if isset($settings.timeout) && $settings.timeout == 10}selected="selected"{/if}>10 [`min`]</option>
                    		 <option value="15" {if isset($settings.timeout) && $settings.timeout == 15}selected="selected"{/if}>15 [`min`]</option>
                    		 <option value="30" {if isset($settings.timeout) && $settings.timeout == 30}selected="selected"{/if}>30 [`min`]</option>
                    		 <option value="60" {if isset($settings.timeout) && $settings.timeout == 60}selected="selected"{/if}>60 [`min`]</option>
                    		 <option value="90" {if isset($settings.timeout) && $settings.timeout == 90}selected="selected"{/if}>90 [`min`]</option>
                    		 <option value="120" {if isset($settings.timeout) && $settings.timeout == 120}selected="selected"{/if}>120 [`min`]</option>
                    		 <option value="180" {if isset($settings.timeout) && $settings.timeout == 180}selected="selected"{/if}>180 [`min`]</option>
                    		 <option value="240" {if isset($settings.timeout) && $settings.timeout == 240}selected="selected"{/if}>240 [`min`]</option>
                    		 <option value="360" {if isset($settings.timeout) && $settings.timeout == 360}selected="selected"{/if}>360 [`min`]</option>
                    	</select>
                    	
                    <div class="value">
                    </div>
                		<span class="hint">
		                    [`Enable counter on icon spp`]
        		        </span>
                    </div>
                
            </div>
		    <hr />
            <div class="field">
                <div class="value">
                	<input id="b_relink" type="button" class="button blue" value="[`Relink`]"/> <img id="loading" style="display:none;" src="{$wa_url}wa-content/img/loading32.gif">
                	
                	
                <span class="hint">
                    [`Reset link's transactions <-> apps`]
                </span>
                    </div>
            </div>		    
		    <hr />                

        </div>        
        <div class="field">
        	<button id="wacab_settings_form_savebutton" class="button">[`Save`]</button>
        </div>            
    </form>
</div>

<script>
		$('#b_relink').click(function(){
			$('#b_relink').hide();
			$('#loading').show();
			$.post('?module=statistic&action=relink', function(data){
				$('#b_relink').show();
				$('#loading').hide();
			});
		});	
</script>