	<div class="block">
    <h1>[`Settings`]</h1>
    <form id="wacab_settings_form" action="javascript:void(0);" method="post" onsubmit="$.wa.wacab.saveSettings(this)">
        <div class="block fields">
        <div class="block fields">
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Login`]</div>
                    <div class="value">
                    	<input name="settings[login]" type="text" value="{if isset($settings.login)}{$settings.login}{/if}"/>
                <span class="hint">
                    [`Login to WA customer center`]
                </span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Password`]</div>
                    <div class="value">
                    	<input name="settings[passw]" type="password" value="{if isset($settings.passw)}{$settings.passw}{/if}"/>
                <span class="hint">
                    [`Password	 to WA customer center`]
                </span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Account`]</div>
                    <div class="value">
                    	<input name="settings[account]" type="text" value="{if isset($settings.account)}{$settings.account}{/if}"/>
                <span class="hint">
                    [`Pay account`]
                </span>
                    </div>
                </div>
                <hr />                
                <div class="field">
                    <div class="name">[`Counter`]</div>
                    <div class="value">
                    	<select name="settings[count]">
                    		<option value='1' {if isset($settings.count) && $settings.count == 1}selected="selected"{/if}>[`On`]</option>
                    		<option value='0' {if isset($settings.count) && $settings.count == 0}selected="selected"{/if}>[`Off`]</option>
                    	</select>
                    		&nbsp;&nbsp;&nbsp;&nbsp;
                    	<select name="settings[timeout]">
                    		 <option value="10" {if isset($settings.timeout) && $settings.timeout == 10}selected="selected"{/if}>10 [`min`]</option>
                    		 <option value="15" {if isset($settings.timeout) && $settings.timeout == 15}selected="selected"{/if}>15 [`min`]</option>
                    		 <option value="30" {if isset($settings.timeout) && $settings.timeout == 30}selected="selected"{/if}>30 [`min`]</option>
                    		 <option value="60" {if isset($settings.timeout) && $settings.timeout == 60}selected="selected"{/if}>60 [`min`]</option>
                    		 <option value="90" {if isset($settings.timeout) && $settings.timeout == 90}selected="selected"{/if}>90 [`min`]</option>
                    		 <option value="120" {if isset($settings.timeout) && $settings.timeout == 120}selected="selected"{/if}>120 [`min`]</option>
                    		 <option value="180" {if isset($settings.timeout) && $settings.timeout == 180}selected="selected"{/if}>180 [`min`]</option>
                    		 <option value="240" {if isset($settings.timeout) && $settings.timeout == 240}selected="selected"{/if}>240 [`min`]</option>
                    		 <option value="360" {if isset($settings.timeout) && $settings.timeout == 360}selected="selected"{/if}>360 [`min`]</option>
                    	</select>
                    	
                    <div class="value">
                    </div>
                		<span class="hint">
		                    [`Enable counter on icon app`]
        		        </span>
                    </div>
                
            </div>
            <hr />
            <h3>Отчеты агента</h3>
			<div class="field">
                <div class="name">в лице...</div>
                <div class="value">
                   	<input name="settings[agent_face]" type="text" value="{if isset($settings.agent_face)}{$settings.agent_face}{/if}"/>
                <span class="hint">
                    Строка для подстановки в соответствующую часть отчета (Принципал, в лице ___)
                </span>
                </div>
            </div>            
            <div class="field">
                <div class="name">действующего на основании...</div>
                <div class="value">
                   	<input name="settings[agent_basis]" type="text" value="{if isset($settings.agent_basis)}{$settings.agent_basis}{/if}"/>
                <span class="hint">
                    Строка для подстановки в соответствующую часть отчета (действующего на основании ___)
                </span>
                </div>
            </div>
            <div class="field">
                <div class="name">ФИО руководителя</div>
                <div class="value">
                   	<input name="settings[agent_short_name]" type="text" value="{if isset($settings.agent_short_name)}{$settings.agent_short_name}{/if}"/>
                <span class="hint">
                    Строка для подстановки в соответствующую часть отчета (/_________/)
                </span>
                </div>
            </div>
            <div class="field">
                <div class="name">Размер шрифта отчета для печати</div>
                <div class="value">
                   	<input name="settings[agent_fsize]" type="text" value="{if isset($settings.agent_fsize)}{$settings.agent_fsize}{else}0.8em{/if}"/>
                <span class="hint">
                    Размер шрифтов для печати отчета (em, %)
                </span>
                </div>
            </div>

		    <hr />
        	<div class="field">
        		<button id="wacab_settings_form_savebutton" class="button">[`Save`]</button>
        	</div>
        	<hr />   		    
		    <p><a id="b_relink" href="#">[`Reset link's transactions <-> apps`]</a> <img id="loading" style="display:none;" src="{$wa_url}wa-content/img/loading16.gif"></p>
		    <p><a id="b_deltrans" href="#">[`Delete all transactions from DB`]</a> <img id="dt_loading" style="display:none;" src="{$wa_url}wa-content/img/loading16.gif"></p>
		    <p><a id="b_delreviews" href="#">[`Delete all reviews from DB`]</a> <img id="drv_loading" style="display:none;" src="{$wa_url}wa-content/img/loading16.gif"></p>
		    <p><a id="b_delareports" href="#">[`Delete all agent reports from DB`]</a> <img id="dar_loading" style="display:none;" src="{$wa_url}wa-content/img/loading16.gif"></p>
		    
	    
		    <hr />                

        </div>        
         
    </form>
</div>

<script>
		$('#b_relink').click(function(){
			$('#loading').show();
			$.post('?module=statistic&action=relink', function(data){
				$('#loading').hide();
			});
			return false;
		});
		
		$('#b_deltrans').click(function(){
			$('#dt_loading').show();
			$.get('?action=small&event=del_trans', function(data){
				$('#dt_loading').hide();
			});
			return false;
		});
		
		$('#b_delreviews').click(function(){
			$('#drv_loading').show();
			$.get('?action=small&event=del_reviews', function(data){
				$('#drv_loading').hide();
			});
			return false;
		});
		$('#b_delareports').click(function(){
			$('#dar_loading').show();
			$.get('?action=small&event=del_areports', function(data){
				$('#dar_loading').hide();
			});
			return false;
		});							
</script>