<div class="block">
	<h1>[`Transactions`]</h1>
	<input id="check-new" type="button" class="button blue" value="Что там новенького">
	<img id="iproc" style="display: none;" src="{$wa_url}wa-content/img/loading32.gif">
	<div style="float: right;padding: 20px;">
		Total: <strong id="wacab_sum"></strong>
	</div>
	<div id="wacab_parser_container">
		<div class="field-group">
			<div class="field">
				<div class="name">[`Filters`]</div>
				<div class="value">
					<input id="wacab-table-date-min" value="" type="text" size="25" style="width: 50px;" placeholder="[`Set the start date`]">
					<input id="wacab-table-date-max" value="" type="text" size="25" style="width: 50px;" placeholder="[`Set the end date`]">
					&nbsp;<input id="wacab-table-without-minus" type="checkbox" value="1">&nbsp;[`No negative values`]
					<br>
					<span class="hint">[`Output filters.`]</span>
				</div>
			</div>
		</div>
		<table id="wacabTransactionsTable" class="display" cellspacing="0" width="100%">
			<thead>
			<tr>
				<th style="width: 10%">[`Date`]</th>
				<th style="width: 10%">[`Before`]</th>
				<th style="width: 10%">[`Pay`]</th>
				<th style="width: 10%">[`After`]</th>
				<th style="width: 10%">[`Order`]</th>
				<th style="width: 20%">[`App`]</th>
				<th style="width: 30%">[`Description`]</th>
			</tr>
			</thead>

			<tfoot>
			<tr class="tr">
				<th style="width: 10%">[`Date`]</th>
				<th style="width: 10%">[`Before`]</th>
				<th style="width: 10%">[`Pay`]</th>
				<th style="width: 10%">[`After`]</th>
				<th style="width: 10%">[`Order`]</th>
				<th style="width: 20%">[`App`]</th>
				<th style="width: 30%">[`Description`]</th>
			</tr>
			</tfoot>
		</table>

	</div>
</div>

<script>
	$('#wa-app-wacab .indicator').remove();
	$.wa.wacab.initDataTable();
</script>