<div class="block">
	<h1>[`Agent reports`]</h1>
	<input type="button" class="button green" id="acheck" value="Проверить" style="margin: 10px;"><img id="ald" style="display:none;" src="{$wa_url}wa-content/img/loading32.gif">
<div id='agent-reports'>
<table class="zebra">
<tbody>
<tr><th></th><th>Период</th><th>Сумма выплаты</th><th>Дата выплаты</th></tr>
	{foreach $reports as $report}
	<tr>
	<td><i class="icon16 print rprint" id="{$report.rid}"></td>
	<td>с&nbsp;&nbsp;&nbsp;{$report.sdate}&nbsp;&nbsp;&nbsp;по&nbsp;&nbsp;&nbsp;{$report.edate}</td>
	<td>{$report.sum}</td>
	<td>{$report.paydate}</td>
	</tr>

	{/foreach}
</tbody>
</table>
</div>
</div>

<script type="text/javascript">
	$('.rprint').click(function(){
		var url = "?action=small&event=print_report&rid=" + $(this).attr('id');
		var wnd = window.open(url);
		wnd.print();
	});
	
	$('#acheck').click(function(){
		$('#acheck').hide();
		$('#ald').show();
		$.post('?module=agent&action=check', function(){
		});
		location.reload();
	});
	
</script>
